@import '../css/libs/bootstrap-reboot.min.min.css';



* {
    font-family: 'Dosis', sans-serif;
}

.container {
    max-width: 1142px;
    margin: 0 auto;
}

@import './blocks/promo';
@import './blocks/header';
@import './blocks/phone';
@import './blocks/screens';
@import './blocks/packages';
@import './blocks/video';
@import './blocks/customers';
@import './blocks/app';
@import './blocks/footer';
@import './blocks/media';

